<h1>#Convo</h1>


<% @posts.each do |post| %>
<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4"><%= link_to post.content, post %><i class="material-icons right">more_vert</i></span>
    <p>
      <% if can? :update, post %>
      <%= link_to 'Edit', edit_post_path(post) %> |
      <% end %>
      <% if can? :destroy, post %>
      <%= link_to 'Delete', post, method: :delete %>
      <% end %>
    </p>
  </div>
</div>
<% end %>

<br>
<% if can? :create, @post %>
<button class="btn waves-effect waves-light cyan lighten-3"><%= link_to 'Create a New Post', new_post_path %></button>
<% end %>
