<p><%= @post.content %></p>

<% if can? :edit, @post %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<% if can? :destroy, @post %>
<%= link_to 'Delete', @post, method: :delete %>
<% end %>
<br/>
<button><%= link_to 'Back to All Posts', posts_path %></button>
